$background-color: #ffffff;

$header-text-color: #000000;
$simple-text-color: #000000;

$button-color: #000000;
$button-hover-color: #363636;
$button-active-color: #303134;
$button-active-shadow-color: #FFFFFF;
$button-text-color: #FFFFFF;

$placeholder-text-color: #7c7680;